<h1>Matchup#create</h1>
<p>Find me in app/views/matchup/create.html.erb</p>

            <%= form_for @matchup, url: "lineup" do |f| %>
<!--                <%= f.text_field :challenger %>
<%= f.text_field :challengee %> -->
                <%= f.collection_select(:game_id, Game.all.where("home = ? OR away = ?", @matchup.team, @matchup.team).order(:game_time), :id, :display) %>
                <%= f.submit "Next" %>
             <% end %>


