	<!-- Wrapper -->
	<div class="wrapper">
	
	  <!-- Topic Header -->
	  <div class="topic">
	    <div class="container">
		  <div class="row">
		    <div class="col-sm-4">
		      <h3 class="primary-font">Sign In</h3>
		    </div>
		    <div class="col-sm-8">
		      <ol class="breadcrumb pull-right hidden-xs">
		        <li><a href="index.html">Home</a></li>
		        <li class="active">Sign In</li>
		      </ol>
		    </div>
	      </div>
		</div>
	  </div>
	  
	  <div class="container">
	    <div class="row">
		  <div class="col-sm-6 col-sm-offset-3">
			<div class="sign-form">
			  <h3 class="first-child">Sign In To Your Account</h3>
			  <hr>

				<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-user"></i></span>
						<%= f.email_field :email, autofocus: true, placeholder: "Enter Email", class: "form-control" %>
					</div><br>

				  	<div class="input-group">
				  		<span class="input-group-addon"><i class="fa fa-lock"></i></span>
				    	<%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control" %>
				    </div><br>

				  	<% if devise_mapping.rememberable? -%>
				    	<div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
				  	<% end -%><br>

				  	<div>
				  		<%= f.submit "Log in" %>
				  	</div>
				  	<br>
				
				<% end %>
			  
			  <p>Not registered? <%= link_to "Create an Account.", new_user_registration_path %></p>
			  <div class="pwd-lost">
			    <div class="pwd-lost-q show">Lost your password? <a href="#">Click here to recover.</a></div>
			    <div class="pwd-lost-f hidden">
			      <p class="text-muted">Enter your email address and we will send you a link to reset your password.</p>
				  <form class="form-inline" role="form">
				    <div class="form-group">
					  <label class="sr-only" for="email-pwd">Email address</label>
					  <input type="email" class="form-control" id="email-pwd" placeholder="Enter email">
				    </div>
				    <button type="submit" class="btn btn-color">Send</button>
				  </form>
			    </div>
			  </div> <!-- / .pwd-lost -->
			</div>
		  </div>
		</div> <!-- / .row -->
	  </div> <!-- / .container -->
	  
	</div> <!-- / .wrapper -->
