<!DOCTYPE html>
<html>
<head>
  <title>CouchMVP</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
<!-- Template References [Input by MK] -->
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="img/favicon.png">

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/color-styles.css" rel="stylesheet">
  <link href="css/ui-elements.css" rel="stylesheet">
  <link href="css/custom.css" rel="stylesheet">
  
  <!-- Resources -->
  <link href="css/animate.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500,400italic,500italic,700italic' rel='stylesheet' type='text/css'>

</head>
<body>

  <body class="body-green">
  
    <div class="navbar navbar-dark navbar-static-top" role="navigation">
      <div class="container">
    
      <!-- Navbar Header -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <img src="images/CouchMVP_NavIcon.png">
        </div> <!-- / Navbar Header -->
    
<!--<%= link_to "CouchMVP".html_safe , root_url, class: "navbar-brand" %>-->

      <!-- Navbar Links -->
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", root_url, class: "bg-hover-color" %></li>
            <% if user_signed_in? %>
              <li><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "bg-hover-color" %></li>
            <% else %>
              <li><%= link_to "Sign in", new_user_session_path, class: "bg-hover-color" %></li>
              <li><%= link_to "Sign up", new_user_registration_path, class: "bg-hover-color" %></li>
            <% end %>
          </ul>
      
      <!-- Search Form (xs) -->
      <form class="navbar-form navbar-left visible-xs" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Go!</button>
      </form> <!-- / Search Form (xs) -->
  
        </div> <!-- / Navbar Links -->
      </div> <!-- / container -->
    </div> <!-- / navbar -->

	<%= yield %>

<!-- Footer -->
  <footer class="footer-dark">
    <div class="container">
      <div class="row">
        <!-- Contact Us -->
        <div class="col-sm-4">
        <h3 class="text-color"><span class="border-color">Contact Us</span></h3>
        <div class="content">
        <p>
        Email: <a href="#">support@couchmvp.co</a>
        </p>
        </div>
      </div>
      <!-- Social icons -->
        <div class="col-sm-4">
        <h3 class="text-color"><span>Go Social</span></h3>
        <div class="content social">
        <p>Stay in touch with us:</p>
        <ul class="list-inline">
        <li><a href="https://twitter.com/CouchMVP" class="twitter"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#" class="github"><i class="fa fa-github"></i></a></li>
        <li><a href="#" class="plus"><i class="fa fa-google-plus"></i></a></li>
        </ul>
        <div class="clearfix"></div>
        </div>
      </div>
      <!-- Subscribe -->
        <div class="col-sm-4">
        <h3 class="text-color"><span>Subscribe</span></h3>
        <div class="content">
            <p>Enter your e-mail below to subscribe to updates about CouchMVP!</p>
        <form class="form" role="form">
          <div class="row">
            <div class="col-sm-8">
            <div class="input-group">
            <label class="sr-only" for="subscribe-email">Email address</label>
            <input type="email" class="form-control" id="subscribe-email" placeholder="Enter email">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-default">OK</button>
            </span>
            </div>
            </div>
          </div>
        </form>
        </div>
      </div>
      </div>
    <div class="row">
      <div class="col-sm-12">
        <hr>
      </div>
    </div>
    <!-- Copyrights -->
      <div class="row">
        <div class="col-sm-12">
            <p>&copy; CouchMVP 2014.</p>
      </div>
      </div>
    </div>
  </footer>
  
  
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  <script src="js/scrolltopcontrol.js"></script>
  <script src="js/jquery.sticky.js"></script>
    <script src="js/custom.js"></script>

</body>
</html>
